<% layout("/layouts/boilerplate") %>

    <h3>edit here</h3>
        <div class="row mt-3">
        <div class="col-8 offset-2">
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation">
        <div class="mb-3">
        <label for="title" class="form-label">Title</label>
         <input name ="listings[title]" value="<%= listing.title %>" type="text"class="form-control" required>
         <div class="valid-feedback"> title is correct</div>
        </div>       
         <div class="mb-3" >
            <label for="description" class="form-label">description</label>
            <input name="listings[description]" value="<%= listing.description %>" type="text" class="form-control" required>
            <div class="invalid-feedback"> enter short description name</div>
       </div>
        <br><br>
        <div class="mb-3">
            <label for="image" class="form-label">image</label>
            <!-- <input name="listings[image]" value="<%= listing.image %>" type="text" class="form-control" required> -->
             <input name="listings[image][url]" value="<%= listing.image.url %>" type="text" class="form-control" required>

        </div>
        <br><br>
        <div class="row">
        <div class="mb-3 col-md-4">
            <label for="price" class="form-label">price</label>
            <input name="listings[price]" value="<%= listing.price %>" type="number" class="form-control" required >
             <div class="invalid-feedback"> price should in indian currency</div>
        </div> 
        <br><br>
            <div class="mb-3 col-md-7">
            <label for="country" class="form-label">country</label>
            <input name="listings[country]" value="<%= listing.country %>" type="text" class="form-control" required>
            <div class="invalid-feedback"> enter country name</div>
        </div>
        </div>
        <br><br>
        <div class="mb-3">
            <label for="location" class="form-label">location</label>
            <!-- <input name="listings[locations]" value="<%= listing.location %>" type="text" class="form-control" required> -->
             <input name="listings[locations]" value="<%= listing.locations %>" type="text" class="form-control" required>

            <div class="invalid-feedback"> enter location name</div>
        </div>
        <br><br>
        <button class="btn btn-dark  edit-btn mt-3 mb-3">edit</button>
    


    </form>
    </div>
    </div>
    <script src="/js/script.js"></script>

